*{
    margin: 0;
    padding: 0;
}
.greeting-container{
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    color: white;
    padding: 20px ;
    position: a;
    width: 50%;
     position: relative;
    /* display: inline-block;  */
    /* margin:  100px  400px; */
    margin: 0 auto;
    display: block;
    top: 150px;
   
      
  
}
.main-cintainer{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;   

}
.greet{
    font-size: 25px;
    padding: 10px;
}
.from-text{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.diwali-lamp{
    height: 50px;
    position: absolute;
    top:10px;
}
.left-lamp{
   left: 10px;
}
.right-lamp{
    right: 10px;
}
.lamp{
    height: 50px;
    position: absolute;
    bottom: 50px;
    right: 40px;
}

.them-1{
    background-image: url(./img/bg-1.jpg);
  
}
.them-2{
    background-image: url(./img/bg-2.jpg);
    
}
.them-3{
    background-image: url(./img/bg-3.jpg);   

}
.them-4{
    background-image: url(./img/bg-4.jpg);
    
}
.them-5{
    background-image: url(./img/bg-5.jpg);

}
.them-6{
    background-image: url(./img/bg-6.jpg);
}

.input-container{
  display: flex; 
  justify-content: center;  
  align-items: center;
}
.input{
    width: 200px;
    margin:  10px 20px;
    padding: 10px 20px;
    background-color: white;
    outline: none;
    opacity: 0.5;
    border: none;
    margin-top: 20px;
   
}
.url{
   
    text-align: center;
    margin:  0 auto;
    font-size: 17px;
    color: blue;
    width: 500px;
    box-shadow: 0 0 10px rgb(24, 19, 8);
    padding:10px

}
.create-your-own{
    font-size: 20px;
    text-align: center;
    margin-top: 300px;
    padding: 15px;
}
.text-center{
    text-align: center;
}



@media screen and (max-width: 768px){ 
    .greeting-container{
        width: 80%
    }

    .input{
        width: 80%;
        margin: 10px 0;
        padding: 10px;
        margin-top: 20px;
    }

    .input-container{
        flex-direction: column;
    }
    .main-cintainer{
        height: 100%;
    }
   
}